@{
    ViewBag.Title = "Home Page";
}

    <html dir="rtl" class="form">
    <div class="form">
        <p dir="rtl">
            جهت ورود به برنامه تعمیرات و نگهداری - بازرسان برروی <a href="/Home/Login">خروج</a> کلیک کنید
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="col-md-5">
                <img src="~/Content/Images/login.jpg" alt="login" class="login-card-img">
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</html>