


@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  color: #333;
}

.form {
    dir ="rtl";
    font-family: IRANSans,garamond,serif;
    font-size: 14px;
}
header {
    background: #4682b4;
}

.legend {
    background-color: #4682b4;
    position: relative;
    color: white;
    padding: 5px 10px;
}

.headline {
    position: relative;
    height: 100px;
    color: #fff;
    text-align: center;
    background: url("~/Content/Images/login.jpg") no-repeat center center;
    background-size: cover;
}
.headline:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.inner {
  position: relative;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #4682b4;
}

.logo {
    src ="~/Content/Images/navard-logo.svg";
    height: 75px;
    float: left;
}
.logo:before, .logo:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 25px;
}
    .logo:before {
        src ="~/Content/Images/navard-logo.svg";
        left: 20px;
    }
    .logo:after {
        src ="~/Content/Images/navard-logo.svg";
        left: 34px;
    }

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
fieldset {
    background-color: #4682b4;
    font-family:IRANSans;
    font-size:14px;
}

.fw-container {
    font-family: IRANSans,garamond,serif;
    font-size: 12px;
}

.fw-body {
    font-family: IRANSans;
    font-size: 12px;
}

.display nowrap {
    font-family: IRANSans;
    font-size: 12px;
}